meta {
  -theme-interface-style: dark;
  -theme-accent-color: #ffcc66;
}

/**
 * Window styles
 */

meta.window {
  background-color: #202530;
  border-color: #323a4d;
}

meta.titlebar {
  color: #cbccc6;
  background: #202530;
  border-color: #323a4d;
}

meta.titlebar.inactive {
  background-color: #202530;
}

meta.button {
  background: #33415e;
  border: linear-gradient(#292c2e, #202224);
  color: #cbccc6;
}

meta.button.highlighted {
  background: linear-gradient(#606a7b, #4f5664);
  color: #ffcc66;
}

meta.button.selected {
  background: linear-gradient(#ffcc66, #fac761);
  shadow: none;
  color: #;
}

meta.button.highlighted.selected {
  background: linear-gradient(#ffcc66, #fac761);
  color: #202530;
}

meta.button.disabled {
  background: #373e4c;
  border: linear-gradient(#292c2e, #202224);
  color: #606a7a;
}

meta.textfield {
  background-color: #232834;
  border-color: #323a4c;
}

meta.accent {
  color: #36aaf7;
}

/**
 * Document styles
 */

meta.document {
  background-color: #202530;
  border-color: #323a4d;
}

meta.document.button {
  background: #33415e;
  border: linear-gradient(#292c2e, #202224);
  color: #cbccc6;
}

meta.document.button.highlighted {
  background: linear-gradient(#606a7b, #4f5664);
  color: #ffcc66;
}

meta.document.button.selected {
  background: linear-gradient(#ffcc66, #fac761);
  color: white;
}

meta.document.button.highlighted.selected {
  background: linear-gradient(#ffcc66, #fac761);
  color: #202530;
}

meta.document.button.disabled {
  background: #373e4c;
  border: linear-gradient(#292c2e, #202224);
  color: #606a7a;
}

meta.document.textfield {
  background-color: #232834;
  border-color: #323a4c;
}

/**
 * Text
 */

meta.text {
  color: #cccac2;
}

meta.text.invisible {
  color: #3f4756;
}

meta.cursor {
  background-color: #1a202a;
}

meta.indentguide {
  border-color: #363a44;
}

meta.gutter {
  color: #4d545c;
}

meta.gutter.selected {
  color: #717780;
}

/**
 * Syntax styles
 */

keyword {
  color: #ffa759;
}

comment {
  color: #718092;
  font-style: italic;
}

comment.doctag {
  color: #ffa759;
}

processing {
  color: #718092;
}

declaration {
  color: #718092;
}

bracket {
  color: #e8c504;
}

operator {
  color: #ffa759;
}

invalid {
  background-color: #f52c3d;
  color: #ff3333;
}

link {
  color: #ffa759;
}

/**
 * Values
 */

value.boolean,
value.null,
value.number {
  color: #d0b4ef;
}

value.entity {
  color: #73d0ff;
}

value.symbol {
  color: #d5ff80;
}

/**
 * Identifiers
 */

identifier.type {
  color: #70caf8;
}

identifier.global,
identifier.variable {
  color: #f29e74;
}

identifier.property {
  color: #cccac2;
}

identifier.decorator,
identifier.function,
identifier.method {
  color: #ffd580;
}

identifier.key {
  color: #ffa759;
}

identifier.argument {
  color: #d0b4ef;
}

/**
 * Strings
 */

string {
  color: #d5ff80;
}

string.key {
  color: #5ccfe6;
}

string-template {
  color: #d5ff80;
}

string-template.value {
  color: #cbccc6;
}

regex {
  color: #95e6cb;
}

regex.escape,
regex.operator {
  color: #ffa759;
}

cdata {
  color: #73d0ff;
}

/**
 * Markup
 */

markup.heading {
  color: #d5ff80;
  font-weight: bold;
}

markup.line {
  color: #718092;
}

markup.bold {
  color: #f28779;
  font-weight: bold;
}

markup.italic {
  color: #f28779;
  font-style: italic;
}

markup.strikethrough {
  color: #ff6666;
}

markup.list.item {
  color: #ffd580;
}

markup.code {
  background-color: #cbccc605;
}

/**
 * Types
 */

definition.class class.name,
definition.type type.name,
definition.package package.name,
definition.enum enum.name,
definition.union union.name,
definition.struct struct.name {
  font-weight: bold;
  color: #70caf8;
}

/**
 * Members
 */

definition.property property.name,
definition.function function.name,
definition.method method.name {
  color: #e6f2ff;
}

/**
 * Tags
 */

tag {
  color: #73d0ff;
}

tag.framework {
  color: #a085de;
}

tag.attribute.name {
  color: #ffcc66;
}

tag.attribute.value {
  color: #d5ff80;
}

tag.attribute.value.link {
  color: #ffa759;
}

/**
 * Styles
 */

style.at {
  color: #ff8f40;
  font-weight: bold;
}

style.selector.element {
  font-weight: bold;
  color: #5ccfe6;
}

style.selector.identifier.id {
  color: #ffcc66;
}

style.selector.identifier.class {
  color: #d5ff80;
}

style.selector.pseudoclass {
  color: #cbccc6;
  font-style: italic;
}

style.selector.pseudoelement {
  color: #73d0ff;
}

style.attribute.name {
  color: #707a8c;
  font-weight: bold;
}

style.value.number {
  color: #cbccc6;
}

style.value.color.hex {
  color: #5ccfe6;
}

style.value.keyword {
  color: #ffa759;
}

style.value.color.named {
  color: #ffa759;
}

/**
 * Terminal
 */

terminal.black {
  color: #000000;
}

terminal.bright-black {
  color: #757779;
}

terminal.red,
terminal.bright-red {
  color: #f28779;
}

terminal.green,
terminal.bright-green {
  color: #87d96c;
}

terminal.yellow,
terminal.bright-yellow {
  color: #f4c76c;
}

terminal.blue,
terminal.bright-blue {
  color: #73d0ff;
}

terminal.magenta,
terminal.bright-magenta {
  color: #debefd;
}

terminal.cyan,
terminal.bright-cyan {
  color: #95e6cb;
}

terminal.white {
  color: #cccac2;
}

terminal.bright-white {
  color: #cccac2;
}
